/* /* Color Theme Swatches in Hex */
/* .Onif-Interaction-1-hex { color: #285059; }
.Onif-Interaction-2-hex { color: #022326; }
.Onif-Interaction-3-hex { color: #BFBFBD; }
.Onif-Interaction-4-hex { color: #592B02; }
.Onif-Interaction-5-hex { color: #8C613B; } */

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  /* Import font from google */
  font-family: "League Spartan", sans-serif;
  color: #000;
}

h1 {
  font-size: 3.5rem;
  color: #285059;
}

h2 {
  font-size: 2.8rem;
  color: #285059;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

/* Header styling START */
header {
  position: fixed;
  width: 100%;
  background-color: white;
}

p {
  font-size: 1.2rem;
  padding-top: 2rem;
  line-height: 1.5rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}

.header-logo {
  display: flex;
  height: 100%;
  align-items: center;
  letter-spacing: 0.2rem;
}

.header-logo img {
  height: 60px;
}

.header-logo h3 {
  padding-left: 2rem;
  color: #285059;
}

.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
}

.nav-item a {
  padding: 1.5rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.nav-item:hover a {
  color: #285059;
}

/* Header styling END */
/* Hero styling START */

.hero {
  height: 100vh;
  min-height: 30rem;
}

.hero-content {
  width: 70%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 20rem;
  gap: 8rem;
}

.hero-text-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.hero-subtitle {
  color: #8c613b;
  padding-top: 0.5rem;
}

.hero-img-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.hero-img-container img {
  width: 100%;
}

.hero-socials {
  display: flex;
  justify-content: end;
  padding-top: 2rem;
}

.link-btn {
  padding: 0 0.5rem;
  height: 2rem;
  width: 2rem;
}

.social-btn img {
  height: 100%;
  width: 100%;
}

/* Hero styling END */
/* Projects styling START */

.work h2 {
  width: 70%;
  margin: auto;
  padding-top: 2rem;
}

.work-content {
  width: 70%;
  margin: auto;
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-auto-rows: 300px;
  gap: 3rem;
}

.work-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.work-text-container h3 {
  color: #8c613b;
}

.work-text-container p {
  padding-top: 0;
}

.personal-site-pic {
  background: url("../images/personal-site-project.png") center center;
  background-size: cover;
  border-radius: 25px;
  border: #0000002a 1px solid;
}

.work-links {
  justify-self: end;
  display: flex;
}

.tindog-pic {
  background: url("../images/tindog-bootstrap-project.png") center center;
  background-size: cover;
  border-radius: 25px;
  border: #0000002a 1px solid;
}

/* Projects styling END */
